# Bonus: Temperature Analysis I

In [8]:
import pandas as pd
from datetime import datetime as dt

In [10]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [16]:
# Convert the date column format from string to datetime
#df['date'] = pd.to_datetime(df['date'], format='%y%m%d')
#df['date']
#dt.fromisoformat(df['date'])
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [ ]:
#df['date'] = pd.Timedelta(df['date']).isoformat()
df['date']=pd.to_datetime(df['date'], infer_datetime_format=True)

In [24]:
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [29]:
df.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

In [25]:
# Set the date column as the DataFrame index
df.set_index('date',inplace=True)

In [28]:
# Drop the date column
df.reset_index(drop=True,inplace=True)

### Compare June and December data across all years

In [32]:
from scipy import stats

In [39]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,inspect

In [34]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite",echo=False)
engine

Engine(sqlite:///Resources/hawaii.sqlite)

In [35]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [36]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [37]:
# Save references to each table
Measurement=Base.classes.measurement
Station=Base.classes.station

In [40]:
# Create our session (link) from Python to the DB
session=Session(engine)
inspector=inspect(engine)
Col=inspector.get_columns('Measurement')
for c in Col:
    print(c['name'],c['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [55]:
# Filter data for desired months
June_Temp=session.query(Measurement.date,Measurement.tobs).filter(func.strftime('%m',Measurement.date)=='06').all()
June_Temp
Dec_Temp=session.query(Measurement.date,Measurement.tobs).filter(func.strftime('%m',Measurement.date)=='12').all()
Dec_Temp

In [67]:
# Create collections of temperature data
June_Temp_DF=pd.DataFrame(June_Temp,columns=("Date","TOBS"))
June_Temp_DF.head()

         Date  TOBS
0  2010-06-01  78.0
1  2010-06-02  76.0
2  2010-06-03  78.0
3  2010-06-04  76.0
4  2010-06-05  77.0

In [66]:
Dec_Temp_DF=pd.DataFrame(Dec_Temp,columns=('Date','TOBS'))
Dec_Temp_DF.head()

         Date  TOBS
0  2010-12-01  76.0
1  2010-12-03  74.0
2  2010-12-04  74.0
3  2010-12-06  64.0
4  2010-12-07  64.0

In [68]:
# Identify the average temperature for December
Dec_AVG_Temp=Dec_Temp_DF.TOBS.mean()
Dec_AVG_Temp

71.04152933421226

In [69]:
# Identify the average temperature for June
June_AVG_Temp=June_Temp_DF.TOBS.mean()
June_AVG_Temp

74.94411764705882

In [72]:
# Run unpaired t-test
stats.ttest_ind(June_Temp_DF['TOBS'],Dec_Temp_DF['TOBS'],equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

In [ ]:
Unpaired t-test is used to determine the difference in the average temperature of June and December  for all stations
for a time period between 2010 and 2017.

The t-statistic value is 31.35, and the p-value in this case is 4.19,so it can be concluded that there is no statistical 
significance.